.SignIn input{
    border-radius: 5px;
    outline: none;
    border: 1px solid hsl(0, 0%, 80%);
    width:500px;



}


.elementInsertion{
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    width:100%;
    min-width:250px;
    display: flex;
    justify-content: space-between;


}

.next1{
    width: 50px;
    margin:auto;
    font-family:'Roboto',sans-serif;
    background-color:#dcd6d6;
    color:#FFFFFF;
    border:0px;
    font-weight:bold;
    border-radius:45%;
}


.next1 p{
    color: white;
}


.next2{
    width: max-content;
    padding:0.7em 1.7em;
    font-family:'Roboto',sans-serif;
    background-color:#476ed9;
    color:#FFFFFF;
    font-weight:600;
    margin-left: 100px;
    border: 0px;
    border-radius:10px;
    
}

.SubmitButton{
    margin-top: 0px;
    margin-bottom: 0px;
}

.next1:hover{
    box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    background-color:#3369ff;
    cursor: pointer;

}



.next2:hover{
    box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    background-color:#1b6efe;
    cursor: pointer;

}

.SignIn select{
    background-color: white;
    border-radius:4px ;
    height: 35px;
    width:90px;
    border: 1px solid transparent;
    border-color: rgb(172, 171, 171);

}

input:focus {
    outline:2px solid rgb(23, 140, 243);

}

